
\.idea/

__pycache__/

blade/

old/

\.DS_Store

*.log

data/*.npy

data/*.torch
models/data/saved_models\.md

__init__\.py

models/data/DAE9B_fd_data.npy

models/data/DAE9B_fd_f_data.npy

models/data/DAE9B_fd_f_net_parameters.torch

models/data/DAE9B_fd_net_parameters.torch

models/data/DAE9B-4B-fd_data.npy

models/data/DAE9B-4B-fd_net_parameters.torch

core

train_dense.py

models/denseclassifier.py

models/data/
